*{
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
    background: radial-gradient(#3195ff, #110e48);
    font-size: 1.2rem;
    color: #fff;
}

img{
    width: 100%;
    display: block;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: min(90vw, 35rem);
    margin-top: 1rem;
    margin-inline: auto;
}

nav .remain-attempt{
    color: orange;
    padding: 1rem;
    font-size: 2rem;
}

.remain-attempt span{
    color: #fff;
    font-size: 1.2rem;
}

button,
select{
    border: none;
    padding-block: 0.5rem;
    padding-inline: 1rem;
    border-radius: 8px;
    font-size: 1rem;
}

.options{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: min(90vw, 35rem);
    margin-inline: auto;
}

.gameboard{
    display: grid;
    grid-template-columns: repeat(4, minmax(40px, 8rem));
    justify-content: center;
    gap: 1rem;
    padding: .8rem;
    margin: 2rem 0 4rem 0;
}

.card {
    background-color: #f38225;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 3rem;
    border-radius: .5rem;
    border: 2px solid black;
    transition: all .5s ease;
}

.card img{
    width: 3rem;
}

.card:hover,
select:hover,
button:hover{
    cursor: pointer;
}

.flip-card{
    transform: rotateY(-180deg);
    background-color: rgb(220, 220, 220);
}


@media(max-width: 700px){
    .gameboard{
        gap: .8rem;
    }
    .card{
        padding-block: 2rem;
    }
    .card img{
        width: 2.8rem;
    }
}
